<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevBook - Atualização de senha</title>

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer">

</head>

<body>

  {{ template "cabecalho" }}

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <h3>Atualização de Senha</h3>
        <form id="atualizar-senha">
          <div class="form-group">
            <label for="senha-atual">Senha atual</label>
            <input type="password" name="senha-atual" id="senha-atual" class="form-control"
              placeholder="Insira a senha atual" required>
          </div>
          <div class="form-group">
            <label for="nova-senha">Nova senha</label>
            <input type="password" name="nova-senha" id="nova-senha" class="form-control"
              placeholder="Insira a senha nova" required>
          </div>
          <div class="form-group">
            <label for="confirmar-senha">Confirme a senha</label>
            <input type="password" name="confirmar-senha" id="confirmar-senha" class="form-control"
              placeholder="Confirme a nova senha" required>
          </div>
          <button type="submit" class="btn btn-info">Atualizar senha</button>
        </form>
      </div>
    </div>
  </div>

  {{ template "rodape" }}

  {{ template "scripts" }}

  <script src="/assets/js/usuario.js"></script>

</body>

</html>